<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <typeAliases>
      <typeAlias type="com.ssafy.product.dto.Product"  alias="product"/>
   </typeAliases>
   
   <!-- 
   
  
   <typeAliases>
      <package name="com.ssafy.product.dto" />
   </typeAliases>
    ==> product.xml에서는 Type속성에 Product클래스명만 써도 된다. 
    -->
<!--    
   <mappers>
     <mapper resource="mappers/product.xml"/>
   </mappers> 
-->
   
</configuration>
